<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style2.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
                <h1>WinWise</h1>
            <div class="search">
                <form action="search" method="post">
                    <select id="region" name="region">
                        <option value="na1">North America</option>
                        <option value="euw1">Europe West</option>
                        <option value="eun1">Europe Nordic & East</option>
                        <option value="oc1">Oceania</option>
                        <option value="la1">LAN</option>
                        <option value="la2">LAS</option>
                        <option value="br1">Brazil</option>
                        <option value="kr">Korea</option>
                        <option value="jp1">Japan</option>
                        <option value="ru">Russia</option>
                        <option value="tr1">Türkiye</option>
                        <option value="sg2">Singapore</option>
                        <option value="ph2">Philippines</option>
                        <option value="tw2">Taiwan</option>
                        <option value="vn2">Vietnam</option>
                        <option value="th2">Thailand</option>
                      </select>
                    <input type="text" name="summonerName" id="summonerName">
                    <button type="submit" class="search-icon"><img src="../../public/images/emblem-master.png" alt="buscar"></button>
                </form>
            </div>
            <div class="menu">
                <ul class="ul-menu">
                    <li>INICIO</li>
                    <li>CAMPEONES</li>
                    <li>ESTADISTICAS</li>
                    <li>RANKING</li>
                    <li>PRO PLAYERS</li>
                </ul>
            </div>
        </nav>
    </header>