* {
padding: 0px;
margin: 0px;
}
html, body{
    height: 100%;
}
div {
    display: block;
}

.body-main {
    display: flex;
}
.negritas{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2.25vh;
}
.gray{
    color: gray;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.9vh;
}
/* Estilos generales para dispositivos móviles y pantallas más pequeñas */

/* Media query para pantallas de escritorio */
@media (min-width: 1024px) {
  
    .nav-bar{
        height: 7vh;
        display: flex;
        background-color: rgb(20, 30, 70);
        font-family: 'Fira Sans Condensed', sans-serif;
    }
    .nav-bar h1{
        order: 0;
        margin: 0px;
        padding-left: 50px;
        padding-top: 0px;
        color: white;
        font-size: 6.1594vh;
        text-decoration: solid ;
    }
    .search{
        order: 2;
        display: flex;
        padding-top: 0px;
        padding-left: 10px;
        align-items: center;
    }
    .search input{
        border-radius: 12px;
        width: 250px;
        height: 30px;
    }
    .ul-menu{
        display: flex;
        margin: 10px;
        list-style: none;
        font-size: 2.4vh;
        color: white;
        justify-content: space-between;
        padding: 0px 0px 0px 200px;
    }
    .ul-menu li{
        padding: 10px 20px;
    }
    #region{
        color: white;
        font-family: 'Fira Sans Condensed', sans-serif;
        background-color: rgb(199, 0, 57);
    }
    search-icon img{
        width: 4vh;
    }
    .body-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 2400px;
    }
    .player-info{

        display: flex;
        align-items: baseline;
        justify-content: center;
        overflow: hidden;
        width: 165vh;
        height: 54.375vh;
    }
    .profile-bg{
        z-index: -1;
        overflow: hidden;
        position: absolute;
        width: 165vh;
        height: 54.375vh;
        justify-content: center;
    }
    .img-bg{
        width: 100%;
        justify-content: center;
    }
    .img-overlay{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .player-data{
        display: inline-flex;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20vh;
    }
    .player-icon{
        display: flex;
        position: relative;;
        align-items: center;
        justify-content: center;
        margin-left: 14vh;
        margin-right: 4.5vh;
        width: 21vh;
    }
    .porfile-icon{
        width: 18vh;
        border-radius: 100%;
    }
    .wings-overlay{
        z-index: 3;
        position: absolute;
        top: -26.83vh;
        left: -12.65vh;
        width: 46vh;
    }
    .container-player-name{
        display: inline-block;
        margin-top: 11vh;
        font-size: 3vh;
        color: white;
        font-family: 'Fira Sans Condensed', sans-serif;       
    }
    .container-player-level{
        margin-top: 13vh;
        margin-left: 1vh;
        width: auto;
        font-size: 2.4vh;
        color: white;
        font-family: 'Fira Sans Condensed', sans-serif;  
    }

    /*stats section*/
    .player-stats{
        display: flex;
        margin-top: 5vh;
        flex-direction: row;
        width: 165vh;
        height: 200vh;
        background-color: red;
    }
    .container-stats-left{
        display: block;
        width: 57vh;
        background-color: gray;
    }
    .container-stats-right{
        width: 108vh;
        overflow: hidden;
        background-color: bisque;
    }
    .soloduo-rank{
        
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        border-radius: 1vh;
        margin-left: 1vh;
        width: 55vh;
        height: 22vh;
        background-color: rgb(235, 235, 235);
    }
    .soloduo-rank h3{
        padding-top: 1.5vh;
        padding-left: 1.5vh;
        border-style: solid;
        border-width: 0px 0px 0.1vh 0px;
        border-color: rgb(20, 30, 70);
    }
    .container-solorank{
        font-family: 'Fira Sans Condensed', sans-serif;  
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .emblem{
        display: flex;
        width: 26vh;
    }
    .emblem img{
        align-self: center;
        justify-self: center;
        width: 19vh;
        margin-left: 4vh;
    }
    .container-liga{
        display: flex;
        flex-direction: column;
        width: 15vh;
    }
    .liga{
        font-size: 3.5vh;
        width: 13vh;
        padding-top: 1vh;
    }
    .puntos{
        font-size: 2.5vh;
        width: 13vh;
        margin-top: 1vh;
    }
    .container-juegos{
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }
    .juegos{
        display: flex;
        align-self: center;
    }
    .winrate{
        margin-top: 1vh;
    }
    .flex-rank{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        border-radius: 1vh;
        margin-left: 1vh;
        margin-top: 1vh;
        width: 55vh;
        height: 22vh;
        background-color: rgb(235, 235, 235);
    }
    .container-flexrank{
        font-family: 'Fira Sans Condensed', sans-serif;  
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .flex-rank h3{
        padding-top: 1.5vh;
        padding-left: 1.5vh;
        border-style: solid;
        border-width: 0px 0px 0.1vh 0px;
        border-color: rgb(20, 30, 70);
    }
    /*CAMPEONES JUGADOS RESUMEN*/
    .container-category{
        display: flex;
        flex-direction: row;
        border-bottom: 0.1vh solid rgb(20, 30, 70);
        width: 100%;
    }
    .category-button{
        width: 19vh;
        height: 4vh;
    }
    .container-champs-played{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        border-radius: 1vh;
        margin-left: 1vh;
        margin-top: 1vh;    
        width: 55vh;
        height: 50.70vh;
        background-color: rgb(235, 235, 235);
    }
    .container-categorys{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        border-radius: 1vh;
        margin-top: 1vh;    
        width: 55vh;
        height: 7.47vh;
        background-color: rgb(235, 235, 235);
    }
    .champion-container{
        display: flex;
        flex-direction: row;
        padding-left: 4.5vh;
        width: 50.4vh;
        height: 100%;
        border-bottom: 0.1vh solid rgb(20, 30, 70);
    }
    .champion-data1{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
    }
    .champion-data1 img{
        width: 5vh;
    }
    .champion-row-data1{
        display: flex;
        flex-direction: column;
        padding-left: 2vh;
    }
    .champion-data2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2vh;
        width: 30%;
    }
    .champion-data3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2vh;
        width: 26%;
    }
    /* PARTIDAS JUGADAS*/
    .container-games-played{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .container-category-games{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .container-category-games button{
        width: 15vh;
        height: 10vh;
        top: 0;
    }
    .container-categorys2{
        width: 100%;
    }
    .game-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15vh;
        border-bottom: 0.1vh solid rgb(20, 30, 70);
        background-color: rgb(235, 235, 235);
    }
}